<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="savings" mode="ios">
      <ion-icon name="icon-savings"></ion-icon>
      <ion-label>Savings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping-list" mode="ios">
      <ion-icon name="icon-shopping"></ion-icon>
      <ion-label>Shopping List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" mode="ios">
      <ion-img src="assets/imgs/home-icon.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="recipes" mode="ios">
      <ion-icon name="icon-recipes"></ion-icon>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pump-perks" mode="ios">
      <ion-icon name="icon-pump"></ion-icon>
      <ion-label>Pump Perks</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
