<ion-content id="home-content">
	<div padding ion-fixed>
		<div>
			<div>
				<img id="logo" src="assets/imgs/logo.png" />
				<div id="locations">
					<div class="location">
						<h3>Greencastle:</h3>
						<p>212 N. Antrim Way</p>
						<p>Greencastle, PA</p>
						<p><a href="tel:17175977121">717-597-7121</a></p>
					</div>
					<div class="location">
						<h3>Chambersburg:</h3>
						<p>49 Warm Spring Road</p>
						<p>Chambersburg, PA<p>
						<p><a href="tel:17172646001">717-264-6001</a></p>					
					</div>
				</div>
				<div id="hours">
					<p>Monday - Saturday: 7am - 9pm</p>
					<p>Friday: 7am - 10pm</p>
					<p>Sunday: CLOSED</p>
				</div>
				<button class="button yellow" (click)="showMessages()">View Messages</button>
			</div>
		</div>
	</div>
</ion-content>
